platform: Any CPU
image: Visual Studio 2017
configuration: Debug

environment:
    OPENCOVER_VER: 4.6.519
    XUNIT_VER: 2.2.0
    COVERALLS_VER: 0.412

before_build:
    - nuget restore
    - cmd: nuget install xunit.runner.console -Version %XUNIT_VER% -OutputDirectory buildtools
    - cmd: nuget install OpenCover -Version %OPENCOVER_VER% -OutputDirectory buildtools
    - cmd: nuget install coveralls.net -Version %COVERALLS_VER% -OutputDirectory buildtools

build_script:
    - cmd: msbuild /p:Configuration=%CONFIGURATION% HttpWebClient.sln
    
test_script:
    - cmd: buildtools\OpenCover.%OPENCOVER_VER%\tools\OpenCover.Console.exe -register:user -target:"buildtools\xunit.runner.console.%XUNIT_VER%\tools\xunit.console.exe" -targetargs:"HttpWebClient.UnitTests\bin\%CONFIGURATION%\HttpWebClient.UnitTests.dll -noappdomain" -filter:"+[HttpWebClient]*"
    - cmd: buildtools\coveralls.net.%COVERALLS_VER%\tools\csmacnz.Coveralls.exe -opencover -i ./results.xml --repoToken "Cq78rGIIKAVq2bCsdndnRcAVX4ESgkEZ3" --commitId "%APPVEYOR_REPO_COMMIT%" --commitBranch "%APPVEYOR_REPO_BRANCH%"